#container {
  text-align: center;
  background-color: #8d97a7!important;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #c4c4c4;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.bg-style {
  background: #8d97a7;
}


.icon{
  --border-radius:50px;
}

ion-select::part(icon){
  margin-right: 15px!important;
}
.title{
  color:#6c7380;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 50px;
  font-size: 20px;
}
.searchbar-input-container{
  .searchbar-input{
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: white;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: white;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: white;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: white;
    }
  }
  .searchbar-clear-icon{
    filter: invert(100);
  }
}


.searchbar-search-icon { display:none; width:0; height:0; }

.dropOtions{
  margin-left: 15%;
  margin-bottom: 20px;
  
}

.submitButton{
  float:right;
  margin-right:3%;
  --background: #6c7380 !important;
}


#map_canvas {
  width: 60%;
  height: 50%;
  border: 1px solid red;
}

#address {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

#map {
  height: 400px;
  margin-left: 26px;
  margin-right: 26px;
}

.map-wrapper {
  position: relative;
  margin-bottom: 2vh;

#map_center {
    position: absolute;
    z-index: 99;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    margin-left: -21px;
    margin-top: -41px;
  }
}

.topTitle{
  margin-top: -10px;
  margin-left: 3.5rem;
}

ion-title{
  color:#ffff;
}
ion-avatar{
  width: 35px;
  height: 35px;
  display: inline-block;
  background-color: #c4c4c4;
  margin-right: 10px;
  top: -5px;
  position:absolute;
}


ion-input{
  background-color: #6c7380;
  padding: 0px !important;
  --placeholder-color: #c4c4c4;
  --placeholder-opacity: 1;
  --padding-start: 24px!important;
  color: #ffff;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}
ion-select{
  --placeholder-color: #c4c4c4;
  --placeholder-opacity: 1;
  padding-left:24px!important;
  background-color:  #6c7380;
  color:#ffff;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

ion-searchbar {
  --placeholder-color: #c4c4c4;
  --placeholder-opacity: 1;
  --background: #6c7380 !important;
  color:#ffff;
  margin-left: 1px;
  margin-right: 1px;
}
