<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-title>
    <ion-avatar>
    </ion-avatar>
     <span class="topTitle"> EBB-N-AIR-TEST</span>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" [fullscreen]="true">
  <div class="title">This is the ebb-n-air test</div>
  <form class="bg-style"  [formGroup]="Form"  (ngSubmit)="submitForm()" novalidate>
    <ion-list class="bg-style" mode="md">
      <ion-item  color="primary" lines="none">
        <ion-input autofocus='true' placeholder='Name' formControlName="name" type="text"></ion-input>
      </ion-item>
      <ion-item   color="primary" lines="none">
        <ion-select interface="popover" style="max-width: 100%; width: 100%"  placeholder='City' formControlName="city">
            <ion-select-option value="Cape Town" checked="true">Cape Town</ion-select-option>
            <ion-select-option value="Durban">Durban</ion-select-option>
            <ion-select-option value="Joburg">Joburg</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item  color="primary" lines="none">
      <ion-searchbar 
      [(ngModel)]="autocomplete.input" 
      (ionChange)="updateSearchText()" 
      formControlName="address" 
      placeholder="Search for address"
      ></ion-searchbar>
    </ion-item>
    <ion-item  color="primary" lines="none">
      <ion-list class="dropOtions" [hidden]="autocompleteItems.length == 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchText(item)">
          {{item.description}}
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
  <div class="map-wrapper">
    <div  (click)="drawMap()" id="map_center">
      <ion-icon name="pin" size="large" color="danger"></ion-icon>      
    </div>
    <div #map id="map"></div>
  </div>
  <ion-button  (click)="onSubmit(item)" class="submitButton">Submit</ion-button>
  </form>
</ion-content>
